.node {
  stroke: black;
  stroke-width: 2px;
   visibility:visible; 
  opacity: 0;
}

.txt {
    font-size: 15px;
    visibility:hidden;
}

line {
    visibility:visible;
}
.nav {
  font-size: 4rem !important;
}

.plans {
  text-align: left;
}

#btn {
  position: fixed;
  font-size: 2rem;
  margin: 0;
  right: 15px;
  bottom: 2%;
  z-index: 1000;
}

.node {
     visibility: visible;
     stroke-width: 1.5px;
}

h1 {
    font-family: 'Sriracha', cursive;
    font-style: italic;
    font-weight: normal;
    margin: 10px;
    text-align: center;
}

#img{
  transform-origin: 0% 0%;
  transform: scale(1);
}